<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
	<div id="footer" th:fragment="footer">
		<footer class="font-small bg-info pt-4">
			<div class="container">
				<div class="row">
					<div class="col-3">
						<div class="card text-center">img face img wpp img insta
						</div>
					</div>
					<div class="col-6">
						<div class="card text-center">Facultad de Ingenieria - Universidad Nacional de Jujuy
						</div>
					</div>
					<div class="col-3 card text-center">
						<div class="card text-center">Orgullosos del GRUPO 7!
						</div>
					</div>
				</div>
			</div>
			
			<div class="container">
				<div class="row">
					<div class="col-3 m-0">
						<p>Integrantes:</p>
						<p>* </p>
						<p>* </p>
						<p>* </p>
						<p>* </p>
					</div>
					<div class="col-6">
						<p>imegen unju fi</p>
						<p>profesor a cargo: </p>
					</div>
					<div class="col-3">
						<p>Direccion de la Facultad de ingenieria perteneciente a la unju: </p>
						<p>afasfasfasasas </p>
						
					</div>
				</div>
			</div>
			<div class="footer-copyright text-center py-3 bg-danger"><b>© 2020 Copyright</b>
    			<p> Grupo7 FI UNJU</p>
  			</div>
		</footer>
	</div>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>		
<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}" type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="text/javascript" src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	
</body>
</html>