@charset "ISO-8859-1";




body{
		background-image: url("../img/camion.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
}

form{
	
	color: white;
	background:rgba(0,0,0,0.5);
	border-radius: 20px;
	padding: 40px;
}


button:hover{
	cursor: pointer;
}

input {
	
	background:rgba(0,0,0,0.5);
}



a{
	
	color: white;
	
}