<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<title>ADMIN</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<link rel="stylesheet" href="css/estilos.css">
</head>

<!-- INSERCION DE HEADER -->
<div th:insert="layout/header :: header"></div>


<!-- CUERPO DE LA VISTA -->
<body style="background-image: url('img/patron.jpg');">

	<!-- CLASE CONTENEDORA DE FORMULARIOS, IMAGENES, INPUTS, MODIFICADOR FLUID: PARA ADAPTARSE AL TAMAÑO DEL NAVEGADOR-->
	<div
		class="container-fluid mx-0 mb-5 mt-3 pt-4 pb-4 px-0 d-flex justify-content-center align-items-center">

		<!-- CAJA CON CLASE EN FILA -->
		<div class="row">

			<!-- CAJA PARA UTILIZAR UNA SECCION DE LA FILA -->
			<div>
				<!-- ELEMENTO ANCHOR, PARA REDIRECCIONAR A SECCION DE CREAR USUARIO, Y  UNA IMAGEN DE REFERENCIA-->
				<a href="/nuevoUsuario"><img src="/img/AgregarUser.png"
					width="200" alt="Responsive image"></a>
				<h2>AGREGAR USUARIO</h2>

				<!-- ELEMENTO ANCHOR, PARA REDIRECCIONAR A SECCION DE CREAR LOCALIDAD, Y  UNA IMAGEN DE REFERENCIA-->
				<a href="/nuevoLocalidad"> <img src="/img/AgregarLocalidad.png"
					width="200" alt="Responsive image"></a>
				<h2>AGREGAR LOCALIDAD</h2>

				<!-- ELEMENTO ANCHOR, PARA REDIRECCIONAR A SECCION DE CREAR VEHICULO, Y  UNA IMAGEN DE REFERENCIA-->
				<a href="/nuevoVehiculo"> <img src="/img/vehiculosadd.jpg"
					width="200" alt="Responsive image"></a>
				<h2>NUEVO VEHICULO</h2>


				<!-- ELEMENTO ANCHOR, PARA REDIRECCIONAR A SECCION DE CREAR TRIPULANTE, Y  UNA IMAGEN DE REFERENCIA-->
				<a href="/nuevoTripulante"> <img src="/img/tripulantesadd.jpg"
					width="200" alt="Responsive image"></a>
				<h2>NUEVO TRIPULANTE</h2>


			</div>

			<!-- ESPACIO DIVISOR ENTRE FILA -->
			<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;</p>

			<!-- CAJA PARA UTILIZAR OTRA SECCION DE LA FILA -->
			<div>
				<!-- ELEMENTO ANCHOR, PARA REDIRECCIONAR A SECCION DE LISTAR LOS USUARIOS, Y  UNA IMAGEN DE REFERENCIA-->
				<a href="/usuarios"><img src="/img/listuser.png" width="200"
					alt="Responsive image"></a>
				<h2>LISTAR USUARIO</h2>


				<!-- ELEMENTO ANCHOR, PARA REDIRECCIONAR A SECCION DE LISTAR LAS LOCALIDADES, Y  UNA IMAGEN DE REFERENCIA-->
				<a href="/localidades"><img src="/img/listaLocalidad.png"
					width="200" alt="Responsive image"></a>
				<h2>LISTAR LOCALIDAD</h2>

				<!-- ELEMENTO ANCHOR, PARA REDIRECCIONAR A SECCION DE LISTAR LAS VEHICULOS, Y  UNA IMAGEN DE REFERENCIA-->
				<a href="/vehiculos"> <img src="/img/vehiculosL.jpg" width="200"
					alt="Responsive image"></a>
				<h2>LISTA DE VEHICULOS</h2>


				<!-- ELEMENTO ANCHOR, PARA REDIRECCIONAR A SECCION DE LISTAR LAS TRIPULANTES, Y  UNA IMAGEN DE REFERENCIA-->
				<a href="/tripulantes"> <img src="/img/tripulantesL.jpg"
					width="200" alt="Responsive image"></a>
				<h2>LISTA DE TRIPULANTES</h2>
			</div>
		</div>
	</div>




	<!-- LINEAS DE SCRIPTS NECESARIOS PARA LA EJECUCION DE LA PAGINA -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
</body>

<!-- INSERCION DE FOOTER -->
<div th:insert="layout/footer :: footer"></div>

</html>