<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Listado</title>
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<p>
		<form action="/admin">

			<input type="submit" class="confondo" value="ATRAS" />
		</form>
		<br>
			<a th:href="@{/nuevoUsuario}" class="btn btn-primary">Nuevo</a> <br>
			<br>
		<h1>LISTADO DE USUARIO</h1>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Nombre de Usuario</th>
						<th scope="col">Nombre</th>
						<th scope="col">Apellido</th>
						<th scope="col">Tipo de Usuario</th>
					</tr>
				</thead>
				<tbody>
					<!-- recorre lo que seria el listado de usuarios "usuarios", trae de la BD -->
					<tr th:each="usuario:${usuarios}">
						<td th:text="${usuario.id}"></td>
						<td th:text="${usuario.nombreUsuario}"></td>
						<td th:text="${usuario.nombreReal}"></td>
						<td th:text="${usuario.apellidoReal}"></td>
						<td th:text="${usuario.tipoUsuario}"></td>

						<td>
							<!-- referencia,ruta de acceso para el controlador --> <a
							th:href="@{/editar/}+${usuario.id}" class="btn btn-warning">Editar</a>
							<a th:href="@{/eliminar/}+${usuario.id}" class="btn btn-danger">Eliminar</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>




		<div class="alert-danger text-center" th:if="${formAutorErrorMessage}"
			th:text="${formAutorErrorMessage}">Name Error</div>
		<!-- ultimo div -->
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
</body>
</html>