<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<title>Alta de Vehiculo</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">

</head>

<body class="container">
	<h1>Alta de Vehiculo</h1>
	<form th:action="@{/saveVehiculo}" th:object=${vehiculo} method="POST">
	
		<div class="card">
		
			<div class="card-header">
				<h3>VEHICULO</h3>
			</div>
			
			<div class="card-body">

				<input type="hidden" th:field="*{idVehiculo}"/>

				<!-- PATENTE -->
				<div class="form-group row">
					<label for="idpatente" class="col-sm-2 col-form-label">Patente</label>
					<div class="col-sm-10">
						<input th:field="*{patente}" type="text"
							class="form-control" id="idpatente">
					</div>
				</div>
				
				<!-- COLOR -->
				<div class="form-group row">
					<label for="idcolor" class="col-sm-2 col-form-label">Color</label>
					<div class="col-sm-10">
						<input th:field="*{color}" type="text"
							class="form-control" id="idcolor">
					</div>
				</div>

				<!-- TITULAR -->
				<div class="form-group row">
					<label for="idtitular" class="col-sm-2 col-form-label">Titular</label>
					<div class="col-sm-10">
						<input th:field="*{titular}" type="text"
							class="form-control" id="idtitular">
					</div>
				</div>
				
				<!--MARCA  -->
				<div class="form-group row">
					<label for="idmarca" class="col-sm-2 col-form-label">Marca</label>
					<div class="col-sm-10">
						<input th:field="*{marca}" type="text"
							class="form-control" id="idmarca">
					</div>
				</div>
				
				<!--MODELO  -->
				<div class="form-group row">
					<label for="idmodelo" class="col-sm-2 col-form-label">Modelo</label>
					<div class="col-sm-10">
						<input th:field="*{modelo}" type="text"
							class="form-control" id="idmodelo">
					</div>
				</div>
				
				<!-- TIPO -->
				<div class="form-group row">
					<label for="idtipo" class="col-sm-2 col-form-label">Tipo</label>
					<div class="col-sm-10">
						<input th:field="*{tipo}" type="text"
							class="form-control" id="idtipo">
					</div>
				</div>
				
				<!--NUMERO CHASIS  -->
				<div class="form-group row">
					<label for="idnumeroChasis" class="col-sm-2 col-form-label">Numero De Chasis</label>
					<div class="col-sm-10">
						<input th:field="*{numeroChasis}" type="text"
							class="form-control" id="idnumeroChasis">
					</div>
				</div>
				
				<!-- NUMERO DE MOTOR -->
				<div class="form-group row">
					<label for="idnumeroMotor" class="col-sm-2 col-form-label">Numero de Motor</label>
					<div class="col-sm-10">
						<input th:field="*{numeroMotor}" type="text"
							class="form-control" id="idnumeroMotor">
					</div>
				</div>

				

			

			</div>
			<div class="card-footer">
				<input type="submit" value="Guardar" class="btn btn-success">
			</div>
	
		</div>

	</form>



	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
</body>

</html>